<p id="notice"><%= notice %></p>

<h1>Tweeter</h1>

<%= turbo_stream_from "tweets" %>

<%= render "tweets/form", tweet: @tweet %>

<%= turbo_frame_tag "tweets" do %>
  <%= render @tweets %>
<% end %>
